@font-face {
    font-family: Landing;
    src: url(assets/fonts/landing-font.TTF);
}

* {
    font-family: Landing;
}

body {
    background-color: #f5f5f5;
}

.intro-section {
    background: url(img/bg.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem
}

.intro-section .header-logo {
    width: 145px;
    height: 100px;
    margin: auto;
}

.intro-text {
    color: white;
    text-align: center
}

.intro-section .intro-text h2 {
    font-size: 5rem;
}

.intro-section .intro-text p {
    font-size: 2rem;
}

.intro-button {
    color: #535353;
    background-color: white;
    width: auto;
    box-shadow: -4px 4px 0px #d2ab67;
    border: none;
    font-size: 2.5rem;
    border-radius: 0.4rem;
    padding: 0.2rem 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s, color .3s, box-shadow .3s;
}

.intro-button:hover {
    background-color: #535353;
    color: white;
    box-shadow: 0px 0px 0px transparent;
}

.contact-button {
    background-color: #182659;
    color: white;
    width: auto;
    box-shadow: -4px 4px 0px #d2ab67;
    border: none;
    font-size: 2rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    border-radius: 0.4rem;
    padding: 0.2rem 3rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s, color .3s, box-shadow .3s, border .3s;
}

.contact-button:hover {
    color: #182659;
    background-color: white;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid #535353;
}

.gold-text {
    color: #d2ab67;
}

.feature {
    position: relative;
    width: 100%;
    height: 100%
}

.feature-bg-1 {
    background: url(assets/img/landing/01.png);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    background-position: center;
}

.feature-bg-2 {
    background: url(img/);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    background-position: center;
}

.feature-bg-3 {
    background: url(assets/img/landing/03.png);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    background-position: center;
}

.feature-bg-4 {
    background: url(assets/img/landing/04.png);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    background-position: center;
}

.feature-bg-5 {
    background: url(assets/img/landing/05.png);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    background-position: center;
}

.feature-bg-6 {
    background: url(assets/img/landing/06.png);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    background-position: center;
}

.feature p {
    position: absolute;
    /* top: 50%; */
    /* right: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;

}

.feature p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: #535353;
}

.feature-right p {
    transform: translate(-67%, -50%);
}

.feature-left p {
    transform: translate(-32%, -50%);
}

.features .title {
    font-size: 2.4rem;
    color: #535353;
}

.store-button {
    margin-top: -6rem;
}

.intro-body {
    margin-top: -3rem;
}

@media  screen and (max-width: 767px) {
    .intro-section .header-logo {
        width: 113px;
        height: 75px;
        margin-bottom: 2rem;
    }

    .intro-section .intro-text h2 {
        font-size: 3rem;
    }

    .intro-section .intro-text p {
        font-size: 1.5rem;
    }

    .store-button {
        margin-top: 1rem;
    }

    .intro-button {
        font-size: 2rem;
    }

    .intro-body {
        margin-top: 0;
    }
}